{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal mt-5 pt-5">Inscription</h1>
        {{ form_start(form) }}
        <label for="">Nom de l'entreprise</label>
        {{ form_row(form.name) }}
        <label for="">Description de l'entreprise</label>
        {{ form_row(form.description) }}
        <label for="">Numéro de tel de l'entreprise</label>
        {{ form_row(form.phoneNumber) }}
        <label for="">Ville de l'entreprise</label>
        {{ form_row(form.city) }}
        <label for="">Region de l'entreprise</label>
        {{ form_row(form.region) }}
        <label for="">Adress de l'entreprise</label>
        {{ form_row(form.address) }}
        <label for="">Code postale de l'entreprise</label>
        {{ form_row(form.postalCode) }}
        {{ form_widget(form.submit, {'label': 'Crée sont compte'}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}